name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-apple-darwin
            os: macos-latest
    runs-on: '${{ matrix.config.os }}'
    name: '${{ matrix.config.target }}'
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        cargo install rustup-toolchain-install-master
    - name: CI
      run: ./x ci
