name: CI
on:
  push:
    branches: [ "main" ]
    paths:
      - '**/*.rs'
      - '**/*.toml'
      - '**/*.yml'
  pull_request:
    paths:
      - '**/*.rs'
      - '**/*.toml'
      - '**/*.yml'
    branches: [ "main" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
    runs-on: '${{ matrix.config.os }}'
    name: '${{ matrix.config.target }}'
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        rustup default nightly
        cargo install rustup-toolchain-install-master
    - name: CI
      run: ./b ci
